.fullscreen-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: #fff;
    border-radius: 19px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 19px;
    padding-top: 14px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
/* Card styles */
.card {
    background-color: #fff;
    height: 10rem;
    width: auto;
    margin: 4px; /* Add spacing between cards */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for better visual effect */
    /* padding: 16px; */
}

/* Card title */
.card__title {
    padding: 8px;
    font-size: 22px;
    font-weight: 700;
}

.card__title.loading {
    height: 4rem;
    width: 50%;
    margin: 1rem;
    border-radius: 3px;
}

/* Card description */
.card__description {
    padding: 8px;
    font-size: 16px;
}

.card__description.loading {
    height: 4rem;
    margin: 1rem;
    border-radius: 3px;
}

/* The loading Class */
.loading {
    position: relative;
    background-color: #e2e2e2;
}

/* The moving element */
.loading::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: -webkit-gradient(linear, left top,
            right top, from(transparent),
            color-stop(rgba(255, 255, 255, 0.2)),
            to(transparent));

    background: linear-gradient(90deg, transparent,
            rgba(255, 255, 255, 0.2), transparent);

    /* Adding animation */
    animation: loading 0.8s infinite;
}

/* Loading Animation */
@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}
.outlets{
    /* display: none; */
    width: 100%;
}