.dummyClass{color:black;}
.camera-wrapper {
    padding: 0.3rem; /* Adjust padding as needed */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-left: 20px;
  }
  
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; 
  }
  
  .icon {
    width: 40px; 
    height: 40px; 
  }
.spinner-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 0.6);
display: flex;
justify-content: center;
align-items: center;
z-index: 9999; 
}
  .icon-label { 
    margin-top: 0.1rem; 
    font-size: 12px; 
  }
.slds-grid {
    margin-top: 0.2rem; 
}

.camera-container {
    margin-bottom: 0.5rem;
}

.image-captured .camera-container {
    margin-bottom: 1rem; 
}

.videoElement {
    max-width: 100%; 
    height: auto; 
}

.canvas {
    max-width: 100%; 
    height: auto; 
    width: 100%; 
    border: 1px solid #1787d7dd; 
}

.imageElement {
    max-width: 100%; 
    height: auto;
    width: 100%; 
    border: 1px solid #ccc; 
    object-fit: cover; 
}