.custom1 {
    padding: -10px !important;
    margin: -0.75rem;
    background-color: rgb(199, 232, 241)
  }
.screen-1{
    display: flex;
    flex-direction: column;
    background-image: url('screen-1-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 767px) {
    .screen-1 {
        padding: 1rem;
    }
}
h4, h6, body{
    margin: 0;
}
.screen-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #b8dffb;
}
.screen-bar-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.screen-bar-title{
    font-weight: 400;
    font-size: 20px;
}
.screen-bar-nav-icon{
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
}
.screen-bar-refresh-icon{
    background-color: #2f5597;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
}
.navbar{
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 8px;/*25px;*/
    position: relative;
}
.navBarSpace{
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 10px 25px;
    position: relative;
}
.header{
    font-size: 16px;
    font-weight: 500;
}
.nav-title{
    color: #fff;
    background-color: #2f5597;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
}
.menu-open, .menu-close{
    cursor: pointer;
}
.nav-menu{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;
    /* width: 100%; */
    width: 50%;
    padding: 10px 20px;
    flex-direction: column;
    background-color: #fff;
    color: #404040;
    font-weight: 400;
    /* display: none; */
    left: -120%;
    transition: 0.3s ease-out;
    box-shadow: -1px 0 11px rgba(0, 0, 0, 0.2);
}
.menu-head, .menu-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    /* cursor: pointer; */
}
.menu-head{
    margin-bottom: 20px;
}
.menu-title{
    font-weight: 500;
    margin-left: 10px;
}
.menu-icon{
    scale: 0.9;
}
.screen-1-body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 5px;
    border-radius: 20px;
}
.search-bar-icon{
    scale: 0.8;
    color: #adadad;
}
.search-bar-input{
    all: unset;
    margin-left: 5px;
    color: #adadad;
    font-size: 14px;
}

.pointers .material-icons{
    cursor: pointer;
}
.menu-items.selected {
    background-color: rgb(240, 240, 240); /* Highlight color for the selected menu */
}
.customRefreshColor{
    background-color: var(--slds-c-icon-color-background, var(--sds-c-icon-color-background,  rgb(47, 85, 151)));

}
.fieldWidth{
    width: 100%;
}
:host {
    --lwc-borderRadiusMedium: 20px;   
}
.topPadding{
    padding-bottom: .5rem;
    display: flex;
    flex-direction: row;
}
.spaceMargin{
    margin-right: 1rem;
}
.status-card.ended {
    border-left: 4px solid #c62828; /* professional red accent */
}

.status-text {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}

.status-icon {
    color: #555;
}