.slds-modal__close {
    z-index: 10; /* Ensure it's above other elements */
}
.slds-button__icon {
    display: flex;
    justify-content: center; 
    align-items: center;   
}
.customHeight{
    height: 19rem;
}
.CompleteHeight{
    height: 100% !important; 
}